@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

html,
body,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

#puzzle {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puzzleImage {
  max-height: 30vh;
  margin-bottom: 4vh;
}

#puzzleWord {
  text-transform: uppercase;
  font-size: 8vh;
}

#puzzleWord [data-letter] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 8vh;
}

#letters {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#letters button {
  width: 7vh;
  height: 7vh;
  margin: 1vh;
  text-transform: uppercase;
  font-size: 4vh;
}
