* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

#puzzle {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#letters {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#letters button {
  width: 7vh;
  height: 7vh;
  margin: 1vh;
}

.puzzleImage {
  max-width: 200px;
}
